.sideNav {
    flex: 0 0 18%;
    padding: 1.2rem 1.8rem;
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
    background-color: var(--color-secondary);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color-white);

    min-height: 100vh;
}

@media only screen and (max-width: 56.25em) {
    .sideNav {
        flex-direction: row;
        min-height: 5rem;
        border-top-right-radius: var(--border-radius-medium);
        border-bottom-left-radius: 0;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .sideNav {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        /* flex-direction: column; */
    }
}


.logo {
    height: 10rem;
    width: 10rem;
    border: 0.3rem solid var(--color-white);
    border-radius: var(--border-radius-round);
    margin: 0 2.4rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 56.25em) {
    .logo {
        height: 7rem;
        width: 7rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .logo {
        height: 6rem;
        width: 6rem;
    }
}

@media only screen and (max-width: 20em) {
    .logo {
        border: 0.35rem solid var(--color-white);
    }
}

.linksTitle {
    font-size: var(--font-size-small);
    color: var(--color-grey-dark-3);
    padding: 0.8rem;
    margin-bottom: 0.6rem;
}

@media only screen and (max-width: 56.25em) {
    .linksTitle {
        display: none;
        /* flex-direction: column; */
    }
}


.linksNav:not(:last-child) {
    margin-bottom: 0.6rem;
}

.linksNavSide {
    list-style: none;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
    .linksNavSide {
        flex-direction: row;
        min-width: 65%;
        justify-content: space-between;
        position: relative;
    }
}

@media only screen and (max-width: 37.5em) {
    .linksNavSide {
        min-width: 82%;
    }
}

.linksItem {
    margin: 1rem 0;
    min-width: 9rem;
    /* width: 100%; */
}

@media only screen and (max-width: 56.25em) {
    .linksItem {
        margin: 1rem auto;
    }
}

.linksLink,
.linksLink:link,
.linksLink:visited {
    outline: none;
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-normal);
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    background-image: var(--linear-gradient-1);
    transition: all ease-in-out 0.5s;
}

.linksLink:hover {
    background-image: var(--linear-gradient-2);
}

.linksActive,
.linksActive:active {
    background-image: var(--linear-gradient-2) !important;
}

@media only screen and (max-width: 56.25em) {
    .logOut {
        display: none;
    }
}

@media only screen and (min-width: 56.25em) {
    .linkLogout {
        display: none;
    }
}

@media only screen and (max-width: 56.25em) {
    .linkLogout {
       margin: 1rem 0rem;
       margin-left: 1.2rem;
    }

    .linksLogout,
    .linksLogout:visited,
    .linksLogout:link {
        outline: none;
        text-decoration: none;
        padding: 0.8rem;
        display: flex;
        justify-content: center;
    }

    .linksIcons {
        color: var(--color-white);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }
}

.showList {
    height: 30.5rem !important;
    display: flex !important;
    flex-direction: column !important;
}


@media only screen and (max-width: 56.25em) {
    .hideOverflow {
        display: none;
    }

    .showList {
        display: none !important;
    }

    .showOverflow {
        position: absolute;
        z-index: 100;
        right: 3.8rem;
        margin-top: 6rem;
        background-color: rgba(var(--color-gradien-2), 1);
        padding: 1rem;
        border-radius: var(--border-radius-medium);
        display: flex !important;
    }
}

@media only screen and (min-width: 56.25em) {
    .showButton {
        display: none;
    }
}

@media only screen and (max-width: 56.25em) {
    .showButton {
        outline: none;
        border: 0.2rem solid transparent;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1rem 0;
        margin-left: auto;

        color: var(--color-white);
        background-color: rgba(255, 255, 255, 0.301);
        border-radius: var(--border-radius-small);
        padding: 0.9rem 0.6rem;
        font-weight: var(--font-weight-medium);
        cursor: pointer;
        min-width: 10rem;
        font-size: var(--font-size-normal);
    }
}




.footerContainer {
    margin-top: auto;
}

@media only screen and (max-width: 56.25em) {
    .footerContainer {
        display: none;
    }
}

.footerContainerText {
    text-align: center;
    color: var(--color-white);
}

.footerLink {
    outline: none;
    text-decoration: none;
    color: var(--color-success-2);
}

.icons {
    margin-right: 0.8rem;
    font-size: var(--font-size-normal);
}