.listContainer {
    flex: 0 0 100%;
}

.listContainerDetail {
    flex: 0 0 75%;
}

@media only screen and (max-width: 56.25em) {
    .listContainerDetail {
        display: none;
    }

    .listContainer {
        min-height: 100vh;
    }
}

.headerTitle {
    font-size: var(--font-size-extra-large);
    color: var(--color-grey-dark-2);
    letter-spacing: 0.1rem;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 56.25em) {
    .cardsContainer {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 37.5em) {
    .cardsContainer {
        justify-content: space-around;
    }
}