.clientCard {
    height: 12rem;
    width: 22.7rem;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(var(--color-gradien-2), 1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
    .clientCard {
        width: 18rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .clientCard {
        width: 24rem;
    }
}

.clientContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.clientImage {
    height: 7rem;
    width: 7rem;
    margin-bottom: 0.6rem;
    border: 0.25rem solid var(--color-white);
    border-radius: var(--border-radius-round);
}

@media only screen and (max-width: 56.25em) {
    .clientImage {
        height: 6rem;
        width: 6rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .clientImage {
        height: 7rem;
        width: 7rem;
        border: 0.4rem solid var(--color-white);
    }
}

.clientIni {
    height: 7rem;
    width: 7rem;
    margin-bottom: 0.6rem;
    border: 0.25rem solid var(--color-white);
    border-radius: var(--border-radius-round);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-extra-large);
    color: var(--color-white);
    letter-spacing: 0.4rem;
}

@media only screen and (max-width: 56.25em) {
    .clientIni {
        height: 6rem;
        width: 6rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .clientIni {
        height: 7rem;
        width: 7rem;
        border: 0.3rem solid var(--color-white);
    }
}

.clientName {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    color: var(--color-grey-dark-3);
}

@media only screen and (max-width: 37.5em) {
    .clientName {
        font-size: 1.78rem;
    }
}

.workerDetails {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 1.75rem;
    color: var(--color-white);
}

@media only screen and (max-width: 56.25em) {
    .workerDetails {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .workerDetails {
        margin-left: 1.5rem;
    }
}

.workerDetailsText {
    font-size: var(--font-size-small);
    color: var(--color-white);
}

@media only screen and (max-width: 37.5em) {
    .workerDetailsText {
        font-size: 1.7rem;
    }
}
