.loginContainer {
    background-image: linear-gradient(to right, rgba(var(--color-gradien-2), 0.8) 0%, rgba(var(--color-gradien-2), 0.8) 50%, var(--color-white) 50%);
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
}

@media only screen and (max-width: 56.25em) {
    .loginContainer {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.border {
    background-image: linear-gradient(to right, rgba(var(--color-gradient-2), 1) 0%, rgba(var(--color-gradient-1), 1) 50%, rgba(var(--color-gradien-2), 1) 50%);
    margin: 2.5rem 0;
}