.listContainer {
    flex: 0 0 100%;
}

.listContainerDetail {
    flex: 0 0 75%;
}

@media only screen and (max-width: 56.25em) {
    .listContainerDetail {
        display: none;
    }
}

.durationTitle {
    font-size: var(--font-size-extra-large);
    color: var(--color-grey-dark-2);
    letter-spacing: 0.1rem;
}

.tableContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    /* padding-right: 3rem; */
}

.table {
    margin: 1rem 0rem;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    box-shadow: var(--box-shadow-light);
    text-align: center;
    flex: 0 0 100%;
    /* min-width: 100%; */
}

.tableHead,
.tableHeadData {
    background-color: rgba(var(--color-gradien-2), 0.8);
    color: var(--color-white);
    padding: 1rem;
    font-size: var(--font-size-normal);
}

.tableData,
.tableHeadData {
    border-left: 0.1rem solid var(--color-grey-light-3);
}

.tableRow,
.tableData {
    padding: 0.5rem;
    font-size: 1.3rem;
    /* border-bottom: ; */
}

.tableRow:not(:last-child) {
    border-bottom: 0.1rem solid var(--color-primary);
}

.tableButton {
    outline: none;
    border: none;
    background-image: var(--linear-gradient-2);
    padding: 1rem 2.5rem;
    border-radius: var(--border-radius-small);
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.1rem;
    font-size: var(--font-size-normal);

    cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
    .tableButton {
        font-size: 1.4rem;
    }
}
