.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid var(--color-primary);

    width: 26rem;
    /* box-shadow: var(--box-shadow-light); */
}

@media only screen and (max-width: 56.25em) {
    .container {
        width: 30rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .container {
        width: 21rem;
    }
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imageContainer {
    height: 7.5rem;
    width: 7.5rem;

    border-radius: var(--border-radius-small);
}

@media only screen and (max-width: 56.25em) {
    .imageContainer {
        height: 10rem;
        width: 10rem;
    }
}

.userName {
    color: var(--color-primary);
    margin: 0.2rem 0;
    font-weight: var(--font-weight-medium);
    font-size: 1.2rem;
} 

@media only screen and (max-width: 56.25em) {
    .userName {
        font-size: 1.6rem;
    }
}

.testimony {
    color: var(--color-grey-dark-1);
    font-size: 1.2rem;
    text-align: justify;
    padding: 0.7rem 0.6rem;
}

@media only screen and (max-width: 56.25em) {
    .testimony {
        padding: 0;
        padding-left: 1rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .testimony {
        width: 100%;
        max-height: 10rem;
        overflow-y: hidden;
    }
}
