.testimonial {
    flex: 1;

    background-color: var(--color-white);
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
    overflow: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /* min-height: 100vh; */
}

@media only screen and (max-width: 56.25em) {
    .testimonial {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--border-radius-medium);
        border-bottom-left-radius: var(--border-radius-medium);
        min-height: 55rem;
    }
}

.testimonialContainer {
    /* flex: 0 0 100%; */
    width: 100%;
    min-height: 100vh;
    align-self: baseline;
    justify-self: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin: 2rem 0;
    /* align-items: flex-start; */
}