.border {
    background-image: linear-gradient(to right, rgba(var(--color-gradient-2), 1) 0%, rgba(var(--color-gradient-1), 1) 50%, rgba(var(--color-gradien-2), 1) 50%);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-light);
    padding: 0.5rem;
}