.productSection {
    flex: 1;

    background-color: var(--color-white);
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
    overflow: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 56.25em) {
    .productSection {
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--border-radius-medium);
        border-bottom-left-radius: var(--border-radius-medium);
        min-height: 55rem;
    }
}