.rankRate {
    display: flex;
    align-items: baseline;

    margin-bottom: 1.5rem;
}

.rank {
    font-size: var(--font-size-normal);
    color: rgba(var(--color-gradien-2), 0.7);
}

.rateContainer {
    background-color: rgba(var(--color-gradien-2), 0.3);
    height: 0.8rem;
    border-radius: var(--border-radius-medium);
    margin: 0 1rem;
}

.rateBar {
    background-image: var(--linear-gradient-2);
    height: 0.8rem;
    border-radius: var(--border-radius-medium);
}