.company {
    background-image: linear-gradient(to right, var(--color-white) 0%, var(--color-white) 50%, var(--color-primary) 50%) !important;
    -webkit-background-clip: text;
    background-clip: text;
}