.listContainer {
    flex: 0 0 100%;
}

.productTitle {
    font-size: var(--font-size-extra-large);
    color: var(--color-grey-dark-2);
    letter-spacing: 0.1rem;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.horizontalLine {
    margin: 2rem 0.3rem;
}